.RandomPokemon {
width: 300px;

border: 2px solid black;
}

.RandomPokemon h1 {
    
    font-size: 1em;
    text-align: center;
}

.RandomPokemon img {
    width: 150px;
    align-self: center;
}

/* main css colors:  
    #B9E3C6
    #FFEAEE
    #D81E5B
    #23395B
    #FFFD98
*/
