.Cart{
    background-color:#cde7d6;
    width:25vw;
    height:100%;
    /* float:right; */
    border:2px solid black;
    margin-right:0.5em;
    box-shadow: 0 3px 50px rgb(207, 204, 204);
}

.structure{
    display:flex;
    justify-content: space-around;
    font-size:1.7em;
    text-decoration: underline;
    color: #23395B;
}

.cartButton{
    padding: 0.4em 3.1em;
    color:white;
    background-color: #E97B6A;
    transition:0.3s;
    border-radius:7px;
    border: 1px solid black;
}

.cartButton:hover{
    background-color: #B9E3C6;
    border-color: #B9E3C6;
    color:#2A2827;
  }

  .cartButtons{
    margin-top:10px;
    display:flex;
    align-items:center;
    justify-content: center;
  }


  .total{
    display:flex;
    justify-content: center;
  }