.cartItem{
    display:flex;
    justify-content: space-around;
    color:#001514;
    font-size:larger;
    font-size:1.3em;
}

.cartItem button{
    height: 1.5em;
    width: 2em;
    display:block;
    align-self: center;
    padding:1px solid black;
    background-color: rgb(238, 161, 161);
}