/* #B3DEE2 */

/* @keyframes levitate {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
.card:nth-of-type(2n){
    animation: levitate 2s ease infinite alternate;
} */


.card{
border:3px solid #23395B;
width: 15em;
border-radius: 25px;
height: 35vh;
background-color: #FFEAEE;
display:inline-block;
margin-left: 0.5em;
margin-bottom: 4em;
}

#CardImage{
    width: 75%;
    display:block;
    border:2px solid #D81E5B;
    border-radius: 25px;
    /* top-bottom | left right */
    margin: 0.5em auto 0;
    
}

.CardInfo{
    display:flex;
    justify-content:space-around;
    color: #23395B;
    font-size:large
}

.CardButtons{
    display:flex;
    justify-content: space-around;
    margin:none;
}

.CardButtons button{
    position:relative;
    bottom: 0.9em;
     /*top left-right bottom*/
    padding: 0.5em 2em;
    border-radius: 10px;

    border:2px solid #23395B;
    background-color: #d3f1f3;
    transition:0.3s;
}

.CardButtons button:hover{
    background-color: #3d4d5a;
    color: rgb(245, 245, 225);
}