.topBar{
    border-bottom: none;
    height: 3em;
    width:100%;
    position:sticky;

    display: flex;
    justify-content: space-between;

    background-color: #FEF7AF;
    border-radius: 0;

    margin-bottom:20px;
}

.topBar button{
  color:white;
  background-color: #E97B6A;
}

#logo {
    justify-content: center;
    align-items: center;
    font-size: 1.9em;
    position:relative;
    bottom: 0.7em;

    color: #D81E5B;
    
  }

#importantButtons button{
 margin-left: 2em;
 border-radius:20px;
  /*top left-right bottom*/
 padding: 0.6em 2em 0.6em;

 border: 1px solid black;
 transition:0.3s;

 width:7em;
 
}

#importantButtons button:hover{
  background-color: #B9E3C6;
  border-color: #B9E3C6;
  color:#2A2827;
}

#history{
  margin-right: 1.4em;
}


